<div id="hero">
  <h2>Welcome to CSE Motors!</h2>
  <picture>
    <source
      media="only screen and (min-width: 60em)"
      srcset="/images/vehicles/delorean.jpg" width="100"
    >
    <img src="/images/vehicles/delorean-tn.jpg" alt="hero image as delorean car" loading="lazy" width="100">
  </picture>
  <section id="own-today">
    <ul>
      <li><h2>DMC Delorean</h2></li>
      <li>3 Cup holders</li>
      <li>Superman doors</li>
      <li>Fuzzy Dice!</li>
      <li>
        <a href="#"><img id="actionbtn" src="/images/site/own_today.png" alt="Add to cart button"></a>
      </li>
    </ul>
  </section>
</div>
<div class="flex-content">
<section  id="review">
  <h2>DMC Delorean Reviews</h2>
  <ul>
    <li>"So fast it's almost like travelling in time." (4/5)</li>
    <li>"Coolest ride on the road." (4/5)</li>
    <li>"I'm feeling McFly!" (5/5)</li>
    <li>"The most futuristic ride of our day." (4.5/5)</li>
    <li>"80's livin and love it!" (5/5)</li>
  </ul>
</section>
  <section id="upgrades">
    <h2>Delorean Upgrades</h2>
    <div class="flex">
      <a href="#" title="flux-capacitor">
        <figure>
          <div class="add-col">
            <img src="/images/upgrades/flux-cap.png" alt="Picture of a flux capacitor">
          </div>
          <figcaption>Flux Capacitor</figcaption>
        </figure>
      </a>
      <a href="#" title="flame decals">
        <figure>
          <div class="add-col">
            <img src="/images/upgrades/flame.jpg" alt="Picture of a flame decal">
          </div>
          <figcaption>Flame Decals</figcaption>
        </figure>
      </a>
    </div>
    <div class="flex">
      <a href="#" title="bumper stickers">
        <figure>
          <div class="add-col">
            <img src="/images/upgrades/bumper_sticker.jpg" alt="Picture of Bumper Stickers">
          </div>
          <figcaption>Bumper Stickers</figcaption>
        </figure>
      </a>
      <a href="#" title="hub caps">
        <figure>
          <div class="add-col">
            <img src="/images/upgrades/hub-cap.jpg" alt="Picture of Hub Caps">
          </div>
          <figcaption>Hub Caps</figcaption>
        </figure>
      </a>
    </div>
</section>
</div>