<!-- Build the Content Heading using the same value of the <title> built in the contoller -->
<% if (title) { %>
    <h1><%= title %></h1>
    <% } else {
      res.redirect('/')
    } %>

<!-- Build a message block for future proofing of our view -->
<%# messages() %>

<%- grid %>